/* COLORI */

.ap_bgcolor_heder{
    background-color: #2C3E50;
}

.ap_bgcolor_acqua{
    background-color: #1ABC9C;
}

.ap_bgcolor_bordeaux{
    background-color: #BA4B63;
}

.ap_bgcolor_celestino{
    background-color: #1EA4B6;
}

.ap_bgcolor_celeste{
    background-color: #1C83C1;
}

.ap_bgcolor_blu{
    background-color: #0E38B5;
}

.ap_bgcolor_grigio{
    background-color: #CCB2A3;
}

.ap_bgcolor_footer{
    background-color: #3A546D;
}

.ap_color_acqua{
    color: #1ABC9C;
}


/* BLOCCHI COLORATI */
.blocco{
    border: 1px solid black;
    height: 200px;
    width: 100%;
}