/* COLORI */

.ap_bgcolor_heder{
    background-color: #2C3E50;
}

.ap_bgcolor_acqua{
    background-color: #1ABC9C;
}

.ap_bgcolor_footer{
    background-color: #3A546D;
}

.ap_color_acqua{
    color: #1ABC9C;
}


/* BLOCCHI COLORATI */
.blocco{
    border: 1px solid black;
    height: 200px;
    width: 100%;
}

/* UTILITIES */
.ap_w_200{
    width: 200px;
}

.ap_w_full{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ap_content{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ap_svg_white{
    filter: invert(100%);
    width: 20px;
}

.col-12 button:hover .ap_svg_white{
    filter: invert(0);
    transition: 90ms;
}

.ap_social{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 0;
}

.ap_social_li{
    max-width: 100%;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
}

.ap_social_li svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    filter: invert(100%);
}

.ap_separatore_stellina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ap_separatore_stellina > *{
    padding: 10px;
    font-size: 30px;
}

.ap_separatore_stellina:before, .ap_separatore_stellina:after{
    content: '';
    background-color: currentColor;
    border-radius: 5px;
    height: 4px;
    width: 10%;
    max-width: 250px;
    display: block;
}